# Application Domain Configuration
DOMAIN=thamaniacademy.work.gd

# Reverse Proxy Docker Network (e.g., proxy, web, traefik)
PROXY_NETWORK=proxy

# PostgreSQL Database Configuration
DB_CONNECTION=pgsql
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=thamani_postgress
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ThamaniPostgres2026!

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=thamaniacademy
CLOUDINARY_API_KEY=555989584672519
CLOUDINARY_API_SECRET=dcmq5dQZfmysvewtwrAZTsCeI3w
CLOUDINARY_UPLOAD_PRESET=
